body{
    background-color: red;
}

body h2{
    font-style: italic;
    font-size: 25px;
}

.imagenCentrada {
    width: 50%;
}

body h4{
    text-align: center;
}

.seccionImagen {
    display: flex;
    justify-content: center;
}

#separarPV{
    margin-right: 10px;
}

